body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}
h1 {
    color: #007acc;
    text-align: center;
}
.project-card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
}
