body {
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
}
a {
    color: #007acc;
    text-decoration: none;
}
a:hover {
    color: #005f99;
    text-decoration: underline;
}
